.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}
.inputButton {
    margin-top: 20px;
    width: 100px;
    
}
.output {
    margin-top: 100px;
}
